:root {
	--border-: 2px black solid;
	--center-img: 0 auto;
	--text-color-light: hsla(0, 0%, 90%, 1);
	--text-color-dark: hsla(0, 0%, 0%, 0.95);
	--bg-dark: hsla(0, 0%, 0%, 0.9);
	--bg-light: hsla(0, 0%, 100%, 0.9);
	--bg-medium-light: hsla(0, 0%, 0%, 0.05);
	--bg-medium-dark: hsla(0, 0%, 0%, 0.2);
	--bg-light-dark: hsla(0, 0%, 20%, 0.8);
	--mar-bot: 12rem;
	--mar-bot-sec: 4rem;
	--height-auto: auto;
}

/*-------------------------------------------------------
Utilities 
--------------------------------------------------------*/
.flex-hrz {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

button {
	border: none;
	background-color: transparent;
}

a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--text-color-light);
}

.nav-links a {
	display: inline-block;
	text-decoration: none;
	color: hsla(0, 0%, 90%, 0.9);
	font-size: clamp(1.2rem 1.2vw 1.8rem);
	text-transform: uppercase;
}

ul > li {
	font-size: 1.6rem;
	list-style-type: none;
}

.mar-bottom {
	margin-bottom: var(--mar-bot);
}

.btn {
	border-bottom: 0.2rem solid transparent;
	padding: 0.8rem 0;
	cursor: pointer;

	transition: all 0.5s;
}

.btn:hover,
.btn:active,
.btn:focus {
	border-bottom: 0.2rem solid var(--bg-light);
}

.current {
	border-bottom: 0.2rem solid var(--bg-light);
}

.btn-prim {
	border: none;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: all 0.5s;
}

.btn-prim:hover,
.btn-prim:active,
.btn-prim:focus {
	background-color: var(--bg-dark);
	color: var(--text-color-light);
}

.btn-sec {
	border: none;
	padding: 0.8rem 1.6rem;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: all 0.5s;
}

.btn-sec:hover,
.btn-sec:active,
.btn-sec:focus {
	background-color: var(--bg-medium-dark);
	color: var(--text-color-dark);
}

.btn-dark {
	background-color: var(--bg-dark);
}

.btn-light {
	background-color: var(--bg-light);
}

.right-side {
	margin-right: 0;
}

.bg-light {
	background-color: var(--bg-medium-light);
}

.bg-dark {
	background-color: var(--bg-medium-dark);
}

.indent {
	text-indent: 3rem;
}

.sec-heading {
	display: inline-block;
	padding-block: 1rem;
	padding-inline: 2rem;
	background-color: var(--bg-dark);
	color: var(--text-color-light);
}

.sec-mar-bot {
	margin-bottom: var(--mar-bot-sec);
}
/*-------------------------------------------------------
Required Typography 
--------------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", Avenir, sans-serif;
	font-size: 62.5%;
	letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
	clear: both;
}

h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: 2.4rem;
	margin-bottom: 8rem;
}

h3 {
	font-size: 1.6rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

h4 {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

p {
	font-size: clamp(1.4rem, 1.8vw, 1.6rem);
	margin-bottom: 2rem;
	line-height: 1.6;
}

strong {
	font-weight: bold;
	font-size: 1.6rem;
}

abbr {
	font-size: 1.6rem;
}

small {
	font-size: 1rem;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.center-head {
	text-align: center;
}

/*-------------------------------------------------------
Navigation
--------------------------------------------------------*/
.logo img {
	width: 20rem;
	height: 5rem;
	padding: 0.5rem 0;
	margin: auto;
	overflow: hidden;
}
.navigation {
	height: 6rem;
	background-color: var(--bg-dark);

	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 60rem)) 1fr;
}

.nav-links {
	grid-column: 2 / 4;
}

/*-------------------------------------------------------
Hero Section
--------------------------------------------------------*/

.hero-article {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 60rem)) 1fr;
}

.hero-text {
	max-width: 80rem;
	color: var(--text-color-light);
	text-align: center;
	padding: 1rem;

	grid-column: 2 /4;
	grid-row: 1;
	justify-self: center;
	align-self: center;
}

.hero-text h1 {
	font-size: clamp(3rem, 5vw, 6rem);
	line-height: 1.2;
}

.hero-text button a {
	text-decoration: none;
	font-weight: bold;
	color: var(--text-color-dark);
	font-size: 1.2rem;
	text-transform: uppercase;
}

.hero-img {
	grid-column: 1 / -1;
	grid-row: 1;
	z-index: -1;
	background-color: hsla(0, 0%, 0%, 0.6);
}

.hero-img > img {
	height: calc(100vh - 5rem - 6rem);
	object-fit: cover;
	mix-blend-mode: overlay;
}

/*-------------------------------------------------------
Customer Section
--------------------------------------------------------*/

.head-sec {
	text-transform: uppercase;
	color: var(--text-color-light);
	padding: 1rem 2.5rem;
	background-color: var(--bg-dark);
}

.cust-logos {
	justify-content: center;
}
.cust-logo {
	width: 10rem;
	height: auto;
	filter: brightness(0);
	opacity: 0.6;
}

/*-------------------------------------------------------
Service Section
--------------------------------------------------------*/

.services {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 60rem)) 1fr;
	row-gap: 4rem;
}

.service-card {
	background-color: hsla(0, 0%, 0%, 0.05);

	grid-column: 2 / 4;
	display: grid;
}

.service-card .service-content {
	padding-left: 4rem;
	padding-right: 4rem;

	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.service-text {
	padding-top: 4rem;
}

.service-card button {
	grid-column: 1 / 2;
	grid-row: 3 / 4;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* padding: 2rem; */
}

.service-card .service-img {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	display: grid;
}

.service-img .resi-img,
.service-img .caption {
	grid-column: 1;
	grid-row: 1;
}

.caption {
	color: var(--text-color-light);

	display: flex;
	align-items: center;
	justify-content: center;
}

.caption h3 {
	margin: 0;
	font-size: 2rem;
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 1.8rem 3.6rem;
}

@media screen and (min-width: 750px) {
	.services {
		row-gap: 4rem;
	}
	.service-card {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		column-gap: 4rem;
	}

	.service-card .service-img {
		grid-column: 1 / 2;
	}

	.service-card .img-right {
		grid-column: 2 / 3;
	}

	.service-card .service-content {
		padding: 0;
		padding-right: 4rem;
		/* margin: 4rem 0; */
		justify-self: flex-start;

		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.service-card .content-left {
		grid-column: 1 / 2;
		padding: 0;
		padding-left: 4rem;
	}

	.service-card button {
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
}
/*-------------------------------------------------------
Pest-control Section
--------------------------------------------------------*/
.pest-control-article {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 120rem) 1fr;
}

.pest-control-article header {
	grid-column: 1 / 4;
}

.pest-control-article .pest-control-section {
	grid-column: 2 / 3;
}

.pest-logo .pest-icon {
	width: auto;
	height: 8rem;
}

.pest-logo .pest-icon path {
	/* fill: var(--text-color-dark); */
	fill: hsla(0, 0%, 25%, 0.9);
}

.grid-hrz {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 4rem;
}

.pest-section {
	display: grid;
	grid-template-columns: minmax(4rem, 8rem) 1fr;
	column-gap: 2rem;
}

.pest-logo {
	margin-top: 1rem;
	grid-column: 1 / 2;
	justify-self: center;
}

.pest-content {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 1fr 8rem;
}

.pest-content .center-head h3 {
	margin: 0;
}

.pest-content .center-head {
	grid-column: 1;
	align-self: center;
}

.pest-content .pest-info {
	grid-column: 1;
	padding-right: 2rem;
}

.pest-content button {
	padding-right: 2rem;
	grid-column: 1;
	justify-self: flex-end;
}

/*-------------------------------------------------------
Testimonial Section
--------------------------------------------------------*/

.width-constrain {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 60rem)) 1fr;
}

.testimonials {
	grid-column: 2 / 4;

	display: grid;
	gap: 2rem;
}

.testimonial {
	display: grid;
	gap: 2rem;
}

@media screen and (min-width: 500px) {
	.testimonial {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 900px) {
	.testimonials {
		grid-template-columns: repeat(2, 1fr);
	}
}

.testi-indi {
	display: grid;
	grid-template-columns: 1fr repeat(2, 5rem) 1fr;
	grid-template-rows: 2fr repeat(2, 5rem) 1fr;
}

.testi-content {
	background-color: var(--bg-medium-light);

	grid-column: 1 / 5;
	grid-row: 1 / 3;
	text-align: center;
}

.testi-content::before {
	display: flex;
	content: " \201C ";
	color: hsla(0, 0%, 0%, 0.2);
	font-family: cursive;
	opacity: 0.4;
	font-size: 24rem;
	margin-bottom: -24rem;
	margin-top: -8rem;
	padding: 0rem 0 0 2rem;
}

.testi-text {
	margin-bottom: 5rem;
	padding: 0 1rem 5rem 1rem;
}

.testi-img {
	mix-blend-mode: lighten;
	grid-column: 2 / 4;
	grid-row: 2 / 4;
	z-index: 1;
}
.name-design {
	background-color: var(--bg-medium-dark);
	grid-column: 1 / 5;
	grid-row: 3 / 5;
	text-align: center;
}

.testi-name {
	margin-top: 8rem;
	margin-bottom: 1rem;
}

.testi-design {
	display: inline-block;
	margin-bottom: 2rem;
	font-weight: bold;
}

/*-------------------------------------------------------
Footer Section
--------------------------------------------------------*/
.footer-article {
	background-color: var(--bg-dark);
	color: var(--text-color-light);
	padding: 1rem;
}

/* ----------------
Header
----------------- */
.sub-heading {
	text-align: center;
}

.footer-article .sub-heading .head-sec {
	background-color: transparent;
	margin-bottom: 4rem;
	padding: 0;
}

/* ----------------
Social Media
----------------- */
.social-media {
	margin-bottom: 6rem;
}
.icon-footer {
	width: 3.2rem;
	height: auto;
	fill: var(--bg-light);
}

.social-media .flex-hrz {
	flex-wrap: nowrap;
}

.social-media .list {
	padding: 1rem;
}

.social-media .list a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.social-media .list a p {
	margin: auto 0;
}

/* ----------------
Footer
----------------- */
/* To push the footer in the bottom in contact page  */
main {
	min-height: calc(100vh - 973px);
}
.footer-article ul > li {
	list-style-type: none;
}
.footer .footer-navigation,
.footer .office-address {
	margin-bottom: 6rem;
}

.footer-navigation .flex-hrz,
.office-address .flex-hrz {
	align-items: baseline;
	/* gap: 2rem; */
	justify-content: space-evenly;
}

.footer-nav-left,
.footer-nav-right {
	width: 20rem;
}

.office-one,
.office-two {
	width: 20rem;
	margin-bottom: 2rem;
}

.address-one,
.address-two {
	font-size: 1rem;
}

.contact-details {
	width: 30rem;
}

.contact-details .flex-hrz {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.contact-details small a {
	font-size: 1rem;
}

/* ----------------
Copy Right
----------------- */

.copy-right {
	text-align: center;
	margin: 0;
}

.copy-right small {
	font-size: 0.8rem;
	padding: 0 1rem;
}

/* ----------------
Footer grid
----------------- */
@supports (grid-area: auto) {
	@media screen and (min-width: 1200px) {
		.footer-article {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 600px)) 1fr;
		}

		.footer-article .sub-heading {
			grid-column: 1 / 5;
		}

		.social-media {
			grid-column: 2 / 4;
			grid-row: 2;
		}

		.footer {
			grid-column: 2 / 4;
		}

		.footer-navigation .footer-heading,
		.office-address .footer-heading {
			text-align: justify;
		}

		.copy-right {
			grid-column: 2 / 4;
			grid-row: 4;
		}
	}

	@media screen and (min-width: 500px) {
		.footer-navigation .footer-heading,
		.office-address .footer-heading {
			/* width: 100%; */
			text-align: center;
		}
	}
}

/*-------------------------------------------------------
About Us
--------------------------------------------------------*/
.about-us {
	max-width: 1200px;
	margin: 0 auto;
}

.about-us img {
	width: 100%;
	height: auto;
}
/*---------------------------------
Who We Aer section
----------------------------------*/
.who-we-are,
.our-team,
.goal {
	background-color: var(--bg-medium-light);
}
.who-we-are-content,
.our-team-content,
.goal-content {
	padding: 4rem 2rem;
}

@supports (grid-area: auto) {
	@media screen and (min-width: 900px) {
		.who-we-are,
		.our-team {
			display: grid;
			/* grid-template-columns: minmax(min-content, 2fr) minmax(20%, 40%); */
			grid-template-columns: repeat(2, 1fr) minmax(auto, 1fr);
			/* grid-template-rows: auto 1fr auto; */
			object-fit: cover;
			gap: 2rem;
		}

		.about-us img {
			object-fit: cover;
		}

		.about-us-right-img {
			grid-column: 3 / 4;
			/* grid-row: 2 / 3; */
			align-self: stretch;
		}
		.who-we-are-content,
		.our-team-content {
			padding: 0;
			padding-top: 2rem;
			padding-left: max(1rem, 2rem);
			grid-column: 1 / 3;
			grid-row: 1;
			align-self: center;
			justify-self: center;
		}

		.goal {
			display: grid;
			/* grid-template-columns: minmax(1fr, 25rem) minmax(min-content, 2fr); */
			grid-template-columns: minmax(auto, 1fr) repeat(2, 1fr);
			/* grid-template-rows: minmax(60rem, 75rem); */
			align-items: center;
			gap: 1rem;
		}

		.about-us-left-img {
			grid-column: 1 / 2;
			align-self: center;
		}

		.goal-content {
			grid-column: 2 / 4;
			align-self: center;
			justify-self: center;
		}
	}
}

/*-------------------------------------------------------
Contact Us
--------------------------------------------------------*/
.contact-us {
	max-width: 1200px;
	margin: 0 auto;
}

.contact-us .form {
	max-width: 50rem;
	margin: 0 auto;
	padding: 2rem;
}

.contact-form label {
	display: block;
	margin-block: 4rem 1rem;
	font-size: 1.6rem;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
	font-size: 1.2rem;
	padding: 1rem;
	border: var(--bg-dark) 2px solid;
	width: 100%;
}

.contact-form .btn-submit {
	width: 100%;
	margin-block-start: 6rem;
	padding: 1.5rem 2rem;
	background-color: var(--bg-dark);
	color: var(--text-color-light);
	text-transform: uppercase;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.5s;
}

.btn-submit:focus {
	background-color: var(--bg-light-dark);
	color: var(--text-color-light);
}
.btn-submit:hover {
	background-color: var(--bg-light-dark);
	color: var(--text-color-light);
}

.contact-article .sec-heading,
.location-article .sec-heading {
	margin-left: 1rem;
}

.name label {
	margin-top: 0;
}

/* --------------------
Location - Google Map
----------------------- */

#map {
	width: 100%;
	height: 60rem;
}

/* --------------------
Grid Contact Us
----------------------- */
@supports (grid-area: auto) {
	@media screen and (min-width: 900px) {
		.contact-us {
			/* max-width: 1200px; */
			display: grid;
			grid-template-columns: repeat(2, minmax(45rem, 60rem));
			column-gap: 2rem;
		}

		/* .contact-us header {
      grid-column: 1 / 2;
    } */

		.contact-article {
			grid-column: 1 / 2;
		}

		.location-article {
			/* padding-inline-start: 2rem; */
			grid-column: 2 / 3;
		}

		.contact-article .sec-heading,
		.location-article .sec-heading {
			margin-left: 0;
		}
	}
}

/*-------------------------------------------------------
Services
--------------------------------------------------------*/
.control-treatment ul {
	margin: 2rem 0;
}

.control-treatment .description h4 {
	padding-top: 2rem;
	margin-bottom: 0;
}

.control-treatment ul > li {
	margin-left: 4rem;
	list-style-type: disc;
}
.control-treatment ol > li {
	margin-left: 4rem;
	font-size: 1.4rem;
	/* list-style-type: disc; */
}

.control-treatment .pest-icon {
	width: 8rem;
	height: 8rem;
	align-self: center;
	/* background-color: var(--bg-dark); */
}

.control-treatment .pest-icon path {
	fill: var(--text-color-light);
}

.control-treatment .flex-hrz {
	align-items: flex-start;
	justify-content: flex-start;
}

.treatment-header .head-sec {
	background-color: transparent;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;

	align-self: center;
}

.treatment-header {
	background-color: var(--bg-dark);
	fill: var(--text-color-light);
	/* margin-bottom: 4rem; */
}

.treatment-article:last-child {
	margin-bottom: 0;
}

.pad-inline {
	padding-inline: 2rem;
}

.description {
	margin: 0 auto;
	max-width: 1200px;
}

.control-treatment .description {
	margin: 6rem auto;
	padding: 0 2rem;
}
.control-treatment .description h4 {
	clear: none;
}

.image-box {
	width: 35rem;
	height: auto;
	border: var(--bg-light-dark) 0.2rem solid;
	float: left;
	margin-inline-end: 2rem;
	margin-block-end: 2rem;
}

.image-box img {
	object-fit: cover;
}

@media screen and (max-width: 550px) {
	.image-box {
		width: 100%;
		margin: 0;
		margin-block-end: 2rem;
	}
}

/*-------------------------------------------------------
Thank you Modal
--------------------------------------------------------*/

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content/Box */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin-inline: 1rem;
	/* margin: 15% auto; 15% from the top and centered */
	padding: 4rem 8rem;
	border: 1px solid #888;
	text-align: center;
	width: max-content; /* Could be more or less, depending on screen size */
}

.modal-content h2 {
	margin-bottom: 2rem;
}

.btn-position {
	display: block;
	margin-inline: auto;
}

.btn-position .btn-prim {
	margin-bottom: 0;
	margin-top: 4rem;
}
